
html, body {
    height: 100%;
}
body {
    background: #fcfcfc;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #454545;
}

a {
    color: DarkRed ;
}

#left {
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    background: #f9f9f9;
    padding: 0 20px;
    position: fixed;
    min-height: 500px;
}

#left nav {
    border-top: 1px solid #ccc;
    margin-bottom: 50px;
}
#left nav a {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-decoration: none;
}

#main {
    margin-left: 300px;
    height: 100%;
}

article {
    padding: 20px 0;
    margin: 0 60px 0 0;
    border-bottom: 1px solid #ccc;
}

h1 {
    text-transform: uppercase;
}