.Scrollbar-scroller {
    float: right;
	width: 20px;
	height: 100%;
	position: relative;
}
.Scrollbar-content {
    padding-top: 1px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.Scrollbar-contentInner {
	margin: -1px 20px 0 0;
}
.Scrollbar-scrollbar {
    background: #fcfcfc;
	width: 100%;
	height: 100%;
	position: relative;
}
.Scrollbar-scrollbarInner {
	position: relative;
}
.Scrollbar-button {
    background: #ccc url(sprite.gif) right center no-repeat;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	cursor: ns-resize;
}
.Scrollbar-tArrow {
	background: #000 url(sprite.gif) top left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 100%;
	cursor: pointer;
	z-index: 1;
}
.Scrollbar-bArrow {
    background: #000 url(sprite.gif) bottom left no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20px;
	width: 100%;
	cursor: pointer;
	z-index: 1;
}