.MooScroll {
    float: right;
	width: 20px;
	height: 100%;
	position: relative;
}
.MooScroll-content {
	margin-right: 20px;
	padding-top: 1px;
	position: absolute;
	top: 0;
	left: 0;
}
.MooScroll-contentInner {
	margin-top: -1px;
}
.MooScroll-scrollbar {
    background: #fcfcfc;
	width: 100%;
	height: 100%;
	position: relative;
}
.MooScroll-scrollbarInner {
	position: relative;
}
.MooScroll-button {
	background: #ccc;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	cursor: n-resize;
}
.MooScroll-tarrow {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 100%;
	cursor: pointer;
	z-index: 1;
}
.MooScroll-barrow {
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20px;
	width: 100%;
	cursor: pointer;
	z-index: 1;
}